body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0px;
}

.container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: small;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="number"]
select {
  padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

button[type="reset"] {
  background-color: #3669f4;
  color: white;
}
#result {
  margin-top: 20px;
  text-align: center;
}

#bmilabel {
  font-weight: bold;
  font-size: 18px;
}

#hasil {
  font-size:large
  font-weight: bold;
  color: #007BFF;
}